<h1>Intralox Knowledge Center</h1>
<h2>Help Portal</h2>
<p>
Welcome to the help page of the NPE Site of the knolwedge center. Topics include: Using macros to extend the knowledge center into your applications, the ikc web portal, searching the ikc, creating personal views in libraries to manage content, etc.
</p>
